    .container {
      display: flex;
      flex-wrap: wrap;
      border: 2px solid black;
      height: 150px;
      align-items: baseline; /* Элементы выравниваются по базовой линии */
    }

    .item1 {
      font-size: 24px;
      background-color: lightblue;
      padding: 10px;
    }
    .item2 {
        font-size: 16px;
        background-color: lightgreen;
        padding: 10px;
      }
      #ID{
        background-color: red;
        padding: 20px;
      }
*{
    background-color: blue;
}
div #ID{
    background-color: pink;
}